name: CI

on:
  push:
    branches: [ "main", "devops" ]
  pull_request:
    branches: [ "main", "devops" ]
  workflow_dispatch:

jobs:
  build-and-run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Install OpenMP
        run: sudo apt-get update && sudo apt-get install -y libomp-dev
      
      - name: Build tests
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --target matrix_tests
          
      - name: Run Tests
        run: |
          cd build
          ./matrix_tests
